<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Forum</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header id="sticky-header">
    <div class="container">
        <div class="logo">Chat Room</div>
        <% if (locals.user) { %>
          <h1> Hello <%= user.username %> </h1>
          <a href="/log-out">Log out</a>
        <% } else { %>
          <a class="login-button" href="/log-in">Log In</a>
        <% } %>
    </div>
  </header>
  <main>
    <% if (locals.user) { %>
      <section class="post-message">
        <form action="/messages/create" method="POST">
          <label for="title">Title: </label>
          <input type="text" name="title" id="title" required>
          <input type="text" name="body" id="body" placeholder="Write your message here" required>
          <button type="submit">Post</button>
        </form>
      </section>
    <% } %>
    <section class="message-list">
      <% messages.forEach(message => { %>
        <div class="message-card">
          <h2 class="message-title"><%= message.title %></h2>
          <p class="message-body"><%= message.body %></p>
          <div class="message-info">
            <% if (locals.user) { %>
              <span class="message-author">Posted by: <%= message.username %></span>
            <% } %>
            <span class="message-createdAt"> <%= message.createdAt %></span>
          </div>
        </div>
      <% }) %>
    </section>
  </main>

  <script>
    const header = document.getElementById('sticky-header');
    const logo = header.querySelector('.logo');
    const loginButton = header.querySelector('.login-button');

    window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
            header.classList.add('scrolled');
            logo.classList.add('scrolled');
            loginButton.classList.add('scrolled');
        } else {
            header.classList.remove('scrolled');
            logo.classList.remove('scrolled');
            loginButton.classList.remove('scrolled');
        }
    });
</body>
</html>
